<% include ./partial/header %>
<div class="container">
  <div class="row">
    <h1
      style="    text-align: center;
    position: fixed;
    top: 100px;
    left: 485px;"
    >
      H.O.D Register
    </h1>
    <div
      style="    width: 30%;
    margin: 25px auto;
    position: fixed;
    top: 169px;
    left: 449px;"
    >
      <form action="#" method="POST">
        <!-- name -->
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            placeholder="name"
            name="name"
          />
        </div>
        <!-- id -->
        <div class="form-group">
          <input class="form-control" type="text" placeholder="ID" name="ID" />
        </div>
        <!-- password -->
        <div class="form-group">
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="password"
          />
        </div>
        <!-- confirm password -->
        <div class="form-group">
          <input
            class="form-control"
            type="password"
            name="confirmpassword"
            placeholder="Confirm password"
          />
        </div>
        <!-- Department -->
        <div class="form-group">
          <!-- <label for="department">Department</label> -->
          <input
            class="form-control"
            type="text"
            placeholder="Department"
            id="department"
            name="department"
          />
        </div>

        <!-- image -->
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            placeholder="img url"
            name="image"
          />
        </div>

        <div class="form-group">
          <button class="btn btn-lg btn-dark btn-default btn-block">
            Submit
          </button>
        </div>
      </form>
      <a href="/">Back</a>
    </div>
  </div>
</div>
<% include ./partial/footer %>
