<% include ./partial/header %>
<div class="container">
  <div class="row">
    <h1
      style="    text-align: center;
    position: fixed;
    top: 100px;
    left: 485px;"
    >
      Student Register
    </h1>
    <div
      style="    width: 30%;
    margin: 25px auto;
    position: relative;
    top: 149px;
    left: -42px;"
    >
      <% if (locals.errors) { %>
      <div class="alert alert-danger" role="alert">
        <% locals.errors.forEach(function(errors) { %>
        <h5><%= errors.msg %></h5>

        <% }); %>
      </div>
      <% } %>

      <form action="/student/register" method="POST">
        <!-- name -->
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            placeholder="name"
            name="name"
          />
        </div>
        <!-- id -->
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            placeholder="username"
            name="username"
          />
        </div>
        <!-- password -->
        <div class="form-group">
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="password"
          />
        </div>
        <!-- confirm password -->
        <div class="form-group">
          <input
            class="form-control"
            type="password"
            name="password2"
            placeholder="Confirm password"
          />
        </div>
        <!-- Department -->
        <div class="form-group">
          <!-- <label for="department">Department</label> -->
          <input
            class="form-control"
            type="text"
            placeholder="Department"
            id="department"
            name="department"
          />
        </div>
        <!-- hostel -->
        <div class="form-group">
          <!-- <label for="hostel">Hostel</label> -->
          <input
            class="form-control"
            type="text"
            name="hostel"
            id="hostel"
            placeholder="Hostel"
          />
        </div>
        <!-- image -->
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            placeholder="img url"
            name="image"
          />
        </div>

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-lg btn-dark btn-default btn-block"
          >
            Submit
          </button>
        </div>
      </form>

      <a href="/">Back</a>
    </div>
  </div>
</div>
<% include ./partial/footer %>
